<!DOCTYPE html>
<html>
    {% include 'head.html.twig' %}
    <body>

        {% block navbar %} 
            {% include 'navbar.html.twig' %}
        {% endblock %}

        {% block sidebar %}
            {% include 'sidebar.html.twig' %}
        {% endblock %}

        <div class="container-fluid">
            <div class="side-body">
                {% include 'alerts.html.twig' %}
                {% block body %} {% endblock %}
            </div>
        </div>
        
        {% block javascripts %}
            {% include 'scripts.html.twig' %}
        {% endblock %}
    </body>
</html>