<!DOCTYPE html>
<html>
{% include 'head.html.twig' %}
<body>



{% block navbar %} {% endblock %}
{% block slider %}
	{% include 'slider.html.twig' %}
{% endblock %}

{% block javascripts %}
    {% include 'scripts.html.twig' %}
{% endblock %}

{% block content %} {% endblock %}


</body>
</html>