<!DOCTYPE html>
<html>
    {% include 'head.html.twig' %}
    <body>

        {% block navbar %} 
            {% include 'navbar.html.twig' %}
        {% endblock %}

        {% block sidebar %}
            {% include 'sidebar.html.twig' %}
        {% endblock %}

        <div class="container-fluid">
            <div class="side-body">
                {% block breadcrumbs %}
                    <ol class="breadcrumb">
                        <li>
                            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>
                        </li>
                        <li class="active">Usuarios</li>
                    </ol>
                {% endblock %}
                {% block body %} 
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}
            {% include 'scripts.html.twig' %}
        {% endblock %}
        {% block otherjavascripts %}
        {% endblock %}
        {% block otherstyles %}
        {% endblock %}
        {% block flashMessages %}
            {% include 'flash.messages.html.twig' %}
        {% endblock %}
    </body>
</html>