<!-- start: BREADCRUMB -->
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    Dashboard
                </a>
            </li>
            <li class="active">
                Dashboard
            </li>
        </ol>
    </div>
</div>
<!-- end: BREADCRUMB -->