# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:
    always_authenticate_before_granting: true
    access_denied_url: login
    encoders:
        AppBundle\Entity\Usuario:
            algorithm: bcrypt
            
    # https://symfony.com/doc/current/security.html#b-configuring-how-users-are-loaded
    providers:
        our_db_provider:
            entity:
                class: AppBundle:Usuario
                property: username
                # if you're using multiple entity managers
                # manager_name: customer
           
    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern:    ^/
            #http_basic: ~
            provider: our_db_provider
            anonymous: true         
            form_login:
                login_path: login
                check_path: login
                default_target_path: homepage
                csrf_token_generator: security.csrf.token_manager
            logout:
                path: logout
                target: login
            # activate different ways to authenticate

            # https://symfony.com/doc/current/security.html#a-configuring-how-your-users-will-authenticate
            #http_basic: ~

            # https://symfony.com/doc/current/security/form_login_setup.html
            #form_login: ~

        
    access_control:
      - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }        
      - { path: ^/, roles: IS_AUTHENTICATED_FULLY }
                
framework:
    # ...
    csrf_protection: ~
    
