{% extends 'base.html.twig' %}

{% block page_content %}
  <div class="panel">
    <div class="panel-heading">
      <h3>Seleccione 2 vacunas para mostrar</h3>
    </div>
    <div class="panel-body">
      <form class="" action="{{path('reporte_show')}}" method="post">
        <table>
          <thead>
            <tr>
              <th>Vacuna</th>
              <th>¿Mostrar vencimiento?</th>
            </tr>
          </thead>
          <tbody>
            {% for item in vac %}
              <tr>
                <td>{{item.nombre}}</td>
                <td>
                  <input type="checkbox" name="vac[]" value="{{item.id}}" onclick="total()">
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <input type="submit" value="Ver resultados">
      </form>

    </div>
  </div>
{% endblock %}
{% block otherJavascript %}
  <script type="text/javascript">

  function hideExtra(elements){
    for(var i=0;i<elements.length;i++){
      if(!elements[i].checked){
        elements[i].parentElement.parentElement.style="display:none";
      }

    }
    localStorage.setItem("moreThan2",true);
  }

  function showExtra(elements){
    for(var i=0;i<elements.length;i++){
        elements[i].parentElement.parentElement.style="";
    }
    localStorage.setItem("moreThan2",false);
  }

  function total(){
      var elements=document.getElementsByName('vac[]');
      var total=0;
      var i=0;
      while(total<2&&i<elements.length){
        if(elements[i].checked){
          total++;
        }
        i++;
      }
      if(total==2){
        hideExtra(elements);
      }
      else{
        if(localStorage.getItem('moreThan2')){
          showExtra(elements);
        }
      }
    }
    localStorage.setItem('moreThan2',false);
  </script>
{% endblock %}
