<div style="height: 150px">
    <div class="col-sm-6">
        <a href="#" onclick="$('#excel').click();">
            <i class="fa fa-upload" style="color: green" aria-hidden="true"></i> CARGA NORMAL
        </a>
        <p>En la carga del excel normal se realizan las validaciones correspondientes antes de dar de alta un inscripto. El sistema podria demorar algunos minutos. </p>
    </div>

    <div class="col-sm-6">
        <a href="#" onclick="$('#excel').click();">
            <i class="fa fa-upload" style="color: red" aria-hidden="true"></i> CARGA RAPIDA
        </a>
        <p>En la carga del excel rapida no se realizan validaciones. El sistema solo demora algunos segundos.</p>
    </div>
</div>


        

    