body{
    background-color: #DDDDDD !important;
}
.breadcrumb-scv{
    background-color: #DDDDDD;
    margin-bottom: 3px;
    padding-left: 0px;
    font-size: 0.8em;
}
.navbar_scv{
    margin-bottom: 0px;
}

.panel-default > .panel-heading{
    color: #8B91A0;
    background: none;
    background-color: white;
    border: none;
}

.login_passwdforget{
    margin-top: 10px;
}

.login_validacion{
    position: static  !important;
}

.validacion_header{
    margin-bottom: 30px;
}

.validacion_sregistro{
    margin-top: 50px;
}

#sl_avatar{
    height: 50px;
}

tr.danger > td{
    background-color: #e6e4e3 !important;
}
span.bootstrap-switch-label{
    width: 38px !important;
}
#regvac_avatar{
    width: 120px;
}
#regvac_infovisitante div.panel-body > div{
    margin: 0px;
}