body{
    background-color: #DDDDDD !important;
}
.breadcrumb-scv{
    background-color: #DDDDDD;
    margin-bottom: 3px;
    padding-left: 0px;
    font-size: 0.8em;
}
.navbar_scv{
    margin-bottom: 0px;
}

.panel-default > .panel-heading{
    color: #8B91A0;
    background: none;
    background-color: white;
    border: none;
}
.dropdown-menu.dropdown-dark > li:hover {
    background-color: red !important;
}
.login_passwdforget{
    margin-top: 10px;
}

.login_validacion{
    position: static  !important;
}

.validacion_header{
    margin-bottom: 30px;
}

div.validacion_cregistro div.panel-body > div {
    margin-left: 0px;
    margin-right: 0px;
}
.validacion_sregistro, .validacion_cregistro{
    margin-top: 50px;
}

#sl_avatar{
    height: 50px;
}

tr.danger > td{
    background-color: #e6e4e3 !important;
}
span.bootstrap-switch-label{
    width: 38px !important;
}
#regvac_avatar{
    width: 120px;
}
#regvac_infovisitante div.panel-body > div{
    margin: 0px;
}
#vacunas_optativas div.bootstrap-switch-container, #vacunas_calendario div.bootstrap-switch-container {
    width: 85px !important;
}

/**
* Registro de vacunacion
*/

blockquote.reg_observacion small::before, blockquote.reg_observacion footer::before {
    content: '';
}
blockquote.reg_observacion{
    margin: 0px;
    padding: 5px 15px;;
    border-left: 5px solid #bab4ae;
}

blockquote.reg_observacion footer{
    height: auto !important;
} 

blockquote.reg_observacion footer > div{
    padding: 0px;
} 

div.panel.observacion_publica,  div.panel.observacion_publica footer{
    background-color: #F1F6F9;
    border-radius: 15px !important
}

#obsevaciones_publicas_content > div.panel-heading {
    background-color: #646E7B !important;
    color: whitesmoke;
}

#obsevaciones_privadas_content > div.panel-heading {
    background-color: #aba8a8 !important;
    color: whitesmoke;
}

div.panel.observacion_publica_validacion, div.panel.observacion_publica_validacion footer{
    background-color: white;
    border-radius: 15px !important
}

div.panel.observacion_privada,  div.panel.observacion_privada footer{
    background-color: #FEF2EE;
    border-radius: 15px !important
}
div.observacion_add{
    margin: 0px;
}

div.panel.panel_observaciones_privadas{
    background-color: #aba8a8;
}
div.panel.panel_observaciones_publicas{
    background-color: #646E7B;   
}
/**
*************************************************
*/

#cumple_boton_header{
    margin: 0px;
}

/**
* easy pie chart
*/
.easy-pie-chart {
    position: relative;
    text-align: center;
}
.percent {
    display: inline-block;
    line-height: 70px;
    z-index: 2;
}

.easy-pie-chart .number {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
}
