{% extends 'common/layout.html.twig' %}

{% block content %}

<div class="main-container inner">
    <div class="main-content">
        <div class="container">

             <h2 class="text-center"> Reportes </h2>

            <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

            <br>
            <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div>






<script type="text/javascript">

Highcharts.chart('container2', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Personas que cumplen con el calendario nacional de vacunacion'
    },
    xAxis: {
        categories: [
            '15-19',
            '20-24',
            '25-29',
            '30-34',
            '35-39',
            '40-44',
            '45-49',
            '50-54',
            '55-59',
            '60-64',
            '64+'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Personas (cantidad)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} personas</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Cumplen',
        data: [49, 71, 106, 129, 144, 176, 135, 148, 216, 194, 95]

    }, {
        name: 'No cumplen',
        data: [42, 33, 34, 39, 52, 75, 57, 60, 47, 39, 46]

    }]
});

Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Personas que cumplen con el calendario de vacunacion'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{
            name: 'Cumplen con el calendario',
            y: 56.33,
            sliced: true,
            selected: true
        }, {
            name: 'No cumplen',
            y: 24.03           
        }]
    }]
});
        </script>

{% endblock %}