{% extends 'base.html.twig' %}


{% block body %}

            <div class="container">
                 <form class="form-horizontal" enctype="multipart/form-data" name="formHosp" action="{{path ("altaExcel") }}" method="POST">
                    <input type="file" name="excel" />
                    <input type='submit' name='enviar' value="Importar" />
                    <input type="hidden" value="upload" name="action" />
                </form>
            </div>

{% endblock %}
