<table id="factoresriesgo_listado" class="table  table-bordered table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th class="text-center col-md-1">
                <a href="#" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </th>
            <th class="text-center">Nombre</th>
        </tr>
    </thead>
    <tbody>
        {% for regfactor_riesgo in regfactores_riesgo  %}
            <tr>
                <td class="text-center">{{ loop.index }}</td>
                <td class="text-center">{{ regfactor_riesgo.factorRiesgo.nombre }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>