{% extends 'common/layout.html.twig' %}

{% block content %}

<div class="main-container inner">
   <div class="main-content">
      <div class="container">

         <h2 class="text-center"> Visitantes </h2>

         <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
               <input type="text" class="form-control" placeholder="Buscar">
            </div>
            <button type="submit" class="btn btn-default">Aceptar</button>
         </form>

         <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th>N° Ficha</th> 
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Acciones</th>

            </tr>
            </thead>

            <tbody>


            <tr class="active">
                <td width="75px">12</td>
                <td>Nahuel</td>
                <td>Zanelli</td>
                <td>12345678</td>
                <td class="text-center" style="width: 400px;">
                    <button type="button" class="btn btn-sm btn-success">Alta Registro</button>
                    <button type="button" class="btn btn-sm btn-primary">Ver Detalle</button>
                    <button type="button" class="btn btn-sm btn-warning">Modificar</button>
                    <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                </td>
            </tr>

            <tr class="active">
                <td>12</td>
                <td>Nahuel</td>
                <td>Zanelli</td>
                <td>12345678</td>
                <td class="text-center"  style="width: 400px;">
                    <button type="button" class="btn btn-sm btn-info">Modificar Registro</button>
                    <button type="button" class="btn btn-sm btn-primary">Ver Detalle</button>
                    <button type="button" class="btn btn-sm btn-warning">Modificar</button>
                    <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                </td>
            </tr>

            <tr class="active">
                <td>12</td>
                <td>Nahuel</td>
                <td>Zanelli</td>
                <td>12345678</td>
                <td class="text-center"  style="width: 400px;">
                    <button type="button" class="btn btn-sm btn-info">Modificar Registro</button>
                    <button type="button" class="btn btn-sm btn-primary">Ver Detalle</button>
                    <button type="button" class="btn btn-sm btn-warning">Modificar</button>
                    <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                </td>
            </tr>

            <tr class="active"  style="width: 400px;">
                <td>12</td>
                <td>Nahuel</td>
                <td>Zanelli</td>
                <td>12345678</td>
                <td class="text-center">
                    <button type="button" class="btn btn-sm btn-success">Alta Registro</button>
                    <button type="button" class="btn btn-sm btn-primary">Ver Detalle</button>
                    <button type="button" class="btn btn-sm btn-warning">Modificar</button>
                    <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                </td>
            </tr>

            <tr class="active">
                <td>12</td>
                <td>Nahuel</td>
                <td>Zanelli</td>
                <td>12345678</td>
                <td class="text-center"  style="width: 400px;">
                    <button type="button" class="btn btn-sm btn-success">Alta Registro</button>
                    <button type="button" class="btn btn-sm btn-primary">Ver Detalle</button>
                    <button type="button" class="btn btn-sm btn-warning">Modificar</button>
                    <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                </td>
            </tr>

            <tr class="active">
                <td>12</td>
                <td>Nahuel</td>
                <td>Zanelli</td>
                <td>12345678</td>
                <td class="text-center"  style="width: 400px;">
                    <button type="button" class="btn btn-sm btn-success">Alta Registro</button>
                    <button type="button" class="btn btn-sm btn-primary">Ver Detalle</button>
                    <button type="button" class="btn btn-sm btn-warning">Modificar</button>
                    <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                </td>
            </tr>

            <tr class="active">
                <td>12</td>
                <td>Nahuel</td>
                <td>Zanelli</td>
                <td>12345678</td>
                <td class="text-center"  style="width: 400px;">
                    <button type="button" class="btn btn-sm btn-success">Alta Registro</button>
                    <button type="button" class="btn btn-sm btn-primary">Ver Detalle</button>
                    <button type="button" class="btn btn-sm btn-warning">Modificar</button>
                    <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                </td>
            </tr>

            <tr class="active">
                <td>12</td>
                <td>Nahuel</td>
                <td>Zanelli</td>
                <td>12345678</td>
                <td class="text-center"  style="width: 400px;">
                    <button type="button" class="btn btn-sm btn-success">Alta Registro</button>
                    <button type="button" class="btn btn-sm btn-primary">Ver Detalle</button>
                    <button type="button" class="btn btn-sm btn-warning">Modificar</button>
                    <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                </td>
            </tr>

            <tr class="active">
                <td>12</td>
                <td>Nahuel</td>
                <td>Zanelli</td>
                <td>12345678</td>
                <td class="text-center"  style="width: 400px;">
                    <button type="button" class="btn btn-sm btn-success">Alta Registro</button>
                    <button type="button" class="btn btn-sm btn-primary">Ver Detalle</button>
                    <button type="button" class="btn btn-sm btn-warning">Modificar</button>
                    <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                </td>
            </tr>
            </tbody>
         </table>





         <table class="table table-hover table-striped table-bordered">
            <thead>
               <tr>
                  <th></th>
               </tr>
            </thead>

            <tbody>

            <tr class="active">
                <td>
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
         </table>

         
      </div>
   </div>
</div>

{% endblock %}
