{% extends 'common/layout.html.twig' %}

{% block content %}

<div class="main-container inner">
   <div class="main-content">

      <div class="container">

          <h2 class="text-center">Vacunas</h2>
          <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dosis Requeridas</th>
                    <th>Vencimiento?</th>
                    <th>Acciones</th>

                </tr>
            </thead>

            <tbody>

                <tr class="active">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="{{ path('altaVacuna') }}"><button type="button" class="btn btn-success">Agregar</button></a></td>
                </tr>
               
                <tr class="active">
                    <td>BCG</td>
                    <td>1</td>
                    <td>Si</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-primary">Ver Detalle</button>
                        <button type="button" class="btn btn-sm btn-warning">Modificar</button>
                        <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                    </td>
               </tr>

                <tr class="active">
                    <td>Hepatitis B</td>
                    <td>2 </td>
                    <td>No</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-primary">Ver Detalle</button>
                        <a href="{{ path('modificarVacuna') }}"><button type="button" class="btn btn-sm btn-warning">Modificar</button></a>
                        <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                    </td>
                </tr>
            
                <tr class="active">
                    <td>Neumococo Conjugada</td>
                    <td>3</td>
                    <td>Si</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-primary">Ver Detalle</button>
                        <button type="button" class="btn btn-sm btn-warning">Modificar</button>
                        <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                    </td>
                </tr>

                <tr class="active">
                    <td>Quintuple Pentavolente</td>
                    <td>2</td>
                    <td>No</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-primary">Ver Detalle</button>
                        <button type="button" class="btn btn-sm btn-warning">Modificar</button>
                        <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                    </td>
                </tr>

                <tr class="active">
                    <td>Polio IPV</td>
                    <td>2</td>
                    <td>Si</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-primary">Ver Detalle</button>
                        <button type="button" class="btn btn-sm btn-warning">Modificar</button>
                        <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                    </td>
                </tr>

                <tr class="active">
                    <td>Polio OPV</td>
                    <td>3</td>
                    <td>Si</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-primary">Ver Detalle</button>
                        <button type="button" class="btn btn-sm btn-warning">Modificar</button>
                        <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                    </td>
                </tr>

               <tr class="active">
                  <td>Rotavirus</td>
                  <td>2</td>
                  <td>No</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-primary">Ver Detalle</button>
                        <button type="button" class="btn btn-sm btn-warning">Modificar</button>
                        <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                    </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
{% endblock %}