<form class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12">
            <div class="form-group">
                <label for="" class="col-md-3 control-label">Propietario: </label>
                <div class="col-md-6">
                    <p class="form-control-static">{{entity.getPropietario().getApellido | upper}},  {{ entity.getPropietario().getNombre() | capitalize}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="" class="col-md-3 control-label">Factor de Riesgo: </label>
                <div class="col-md-6">
                    <p class="form-control-static">{{entity.getFactorRiesgo().getNombre() | upper }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="" class="col-md-3 control-label">Observaci&oacute;n: </label>
                <div class="col-md-6">
                    <p class="form-control-static">{{entity.getObservacion() == ''?'---':  entity.getObservacion() | capitalize }}</p>
                </div>
            </div>
        </div>
    </div>
</form>