{% extends 'default/base.login.html.twig' %}
{% block container_main %}
    <div class="col-md-4 col-md-offset-4 validacion_sregistro">
        <div class="jumbotron">
            <h4>{{ entity.nombre }}</h4>
            <br>
            <div class="form-group">
                <label class="col-md-6 control-label "><strong><em>Registro de vacunacion:</em></strong></label>
                <div class="col-sm-6">
                    <p class="form-control-static text-extra-large">{% if entity.registroVacunacion.cumple == 1 %} CUMPLE {% else %} NO CUMPLE {% endif %}</p>
                </div>
            </div>
            <br>
            {% for componente in entity.registroVacunacion.componentes %}
                <div class="form-group">
                    <label class="col-md-6 control-label "><strong><em>{{ componente.vacuna.getNombre() }}:</em></strong></label>
                    <div class="col-sm-6">
                        <p class="form-control-static text-extra-large">{% if componente.cumple == 1 %} CUMPLE {% else %} NO CUMPLE {% endif %}</p>
                    </div>
                </div>
            {% endfor %}
            <p class="text-right"><a class="btn btn-primary btn-lg" href="{{ path('validacion_login') }}" role="button"> <i class="fa fa-backward"></i> Volver</a></p>
        </div>
    </div>
{% endblock %}

