{% extends 'common/layout.html.twig' %}

{% block content %}

    <div class="main-container inner">
        <div class="main-content">
            <div class="container">
                 <form class="form-horizontal" enctype="multipart/form-data" name="formHosp" action="{{path ("ExcelToPhp") }}" method="POST">
                    <input type="file" name="excel" />
                    <input type='submit' name='enviar' value="Importar" />
                    <input type="hidden" value="upload" name="action" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}
